* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  text-decoration: none;
  color: black;
  background-image: url("../public/background.jpg");
  background-position: center;
  height: 100vh;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
}
